/*div.columns {
    width: 1875px;
}

    div.columns div {
        width: 625px;
        height: 200px;
        float: left;
    }

div.grey {
    background-color: #cccccc;
}

div.red {
    background-color: #e14e32;
}

div.clear {
    clear: both;
}

div.blue {
    background-color: cornflowerblue;
}*/

div.grid {
    width: 1875px;
}

    div.grid div {
        float: left;
        height: 900px;
    }

div.col100 {
    width: 410px;
}

div.col200 {
    width: 500px;
}

div.col300 {
    width: 965px;
}

div.grey {
    background-color: #cccccc;
}

div.red {
    background-color: #e14e32;
}
div.blue {background-color:cornflowerblue}

div.green {background-color:aquamarine}

div.clear {
    clear: both;
}